<div id="content">
  <h1>Ejercicios clase 01</h1>

  <label for="edadUno">Edad 1</label>
  <input id="edadUno" placeholder="Ingrese la edad 1" [(ngModel)]="edadUno" />
  <label for="edadDos">Edad 2</label>
  <input id="edadDos" placeholder="Ingrese la edad 2" [(ngModel)]="edadDos" />

  <label for="promedio">El promedio de edades es:</label>
  <input id="promedio" [(ngModel)]="promedio" />
  <label for="suma">La suma de edades es:</label>
  <input id="suma" [(ngModel)]="suma" />

  <button (click)="mostrarResultados()">Calcular</button>
  <button (click)="borrarDatos()">Limpiar cuadros de texto</button>

</div>

<router-outlet />